.container li{
    display: flex;
    list-style: none;
    display: inline;
    justify-content: space-between;
    padding: 60px;
}
.wallpaper{
    background-image: url(images/10\ of\ the\ latest\ Ankara\ short\ gown\ styles\ in\ 2023\ -\ Zizapearls\ Blog.jpeg);
    height: 800px;
}
#font{
    font-size: 70px;
    padding-top: -20px;

}
#font2{
    padding: 20px;
    color: brown;
    margin-left: 70px;
}
#line{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.search{
    display: flex;
    margin-left: 530px;
    justify-content: space-between;
}
#gress{
    margin-right: 550px;
}
#pic1{
    width: 200px;
}
.photos{
    display: flex;
    justify-content: space-between;
}
#pic2{
    width: 260px;
}
#view{
    margin-left: 450px;
    padding: 10px;
}
.athlete{
    background-image: url(images/MY\ DAILY\ FITSPIRATION.jpeg);
    height: 695px;
    width: 1000px;
    background-repeat: no-repeat;
}
.office{
    background-image: url(images/Home\ Page\ \(2\).jpeg);
    width: 700px;
    height: 400px;
    background-repeat: no-repeat;
    margin-left: 550px;
    margin-top: -700px;
}
.casual{
    background-image: url(images/Flat\ Slippers\ Fashion\ Outdoor\ Thong\ Sandals\ Casual\ Beach\ Shoes\ Women\ -\ Gray\ _\ Size42.jpeg);
    background-repeat: no-repeat;
    margin-left: 530px;
    height: 420px;
}
.text{
    text-align: center;
}
.icon{
    background-image: url(images/heeels.jpg);
    height: 550px;
}
.foot{
    margin: 10px;
    display: flex;
    background-color:antiquewhite;
}
.hop{
    margin-left: 6%;
}
.abt{
    margin-left: 6%;
}
.letter{
    margin-left: 6%;
}
#sub{
    margin-top: 30px;
    width: 60%;
    height: 40px;
    background-color: palevioletred;
    border-radius: 10px;
}
#email{
    margin-top: 20px;
    width: 70%;
    height: 40px;
    border-radius: 8px;
}
.icons{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.payment{
    display: flex;
    gap: 10px;
    margin-left: 17%;
    margin-top: 15px;
}
.shop{
    margin-left: 6%;
}
